*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("./images.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    padding: 20px;
}



.container {
    max-width: 600px;
    margin: 8rem auto;
    text-align: center;
    border: 1px solid grey;
    background-color: #327435;
    opacity: 90%;
    box-shadow: 2px 2px 20px rgb(145, 127, 127)
}
h1{
    margin-bottom: 1rem;
}

#user-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

#user-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#user-info h2 {
    color: #333;
    margin-bottom: 2rem;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #072435;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;

}
